src/main/java/io/yac/rates/iface/ecb/v2/ecbrates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ecb.int/vocabulary/2002-08-01/eurofxref" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cube" type="eur:CubeType" xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"/>
  <xs:complexType name="ECBRate" mixed="true">
    <xs:sequence>
      <xs:element type="eur:CubeType" name="Cube" maxOccurs="unbounded" minOccurs="0" xmlns:eur="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="currency" use="optional"/>
    <xs:attribute type="xs:string" name="rate" use="optional"/>
    <xs:attribute type="xs:string" name="time" use="optional"/>
  </xs:complexType>
</xs:schema>